<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="constr"  connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=db_a460a8_ekta;User Id=root;password=Kas@123456" providerName="MySql.Data.MySqlClient" />-->
    <add name="constr" connectionString="Data Source=mysql5015.site4now.net;port=3306;Initial Catalog=db_a460a8_ekta;User Id=a460a8_ekta;password=Kas@123456; Min Pool Size=0;Max Pool Size=800;Pooling=true;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="constr" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=ektatrust;User Id=root;password=rez@123;" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="mails@rezinfo.co.in">
        <network host="relay-hosting.secureserver.net" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SmtpServer" value="gmail.com" />
    <add key="ToAdmin" value="krishanm@rezinfo.net" />
    <add key="ToCC" value="krishanm@rezinfo.net" />
    <add key="ToRPSC" value="jaibheem.rpsc.mip@gmail.com" />
    <add key="ToUPSC" value="jaibheem.mip@gmail.com" />
    <add key="EamilID" value="ektanavnirmantrust@gmail.com" />
    <add key="ToEmailID" value="ektanavnirmantrust@gmail.com" />
    <add key="From" value="admin@ektatrust.org.in" />
    <add key="Password" value="Kas@123456" />
    <!--bhashsms Api key-->
    <add key="pass" value="123456" />
    <!--<add key="userName" value="ektatrust"/>-->
    <add key="userName" value="Ektapromo" />
    <add key="priority" value="ndnd" />
    <add key="stype" value="normal" />
    <add key="senderName" value="EKTANT" />
    <!--End bhashsms Api key-->
    <!--TextLocal Api key-->
    <!--<add key="ApiKey" value="baf4708ad9cc41937d817fe3071dfff319fa418b"/>-->
    <add key="SECURE_SECRET" value="ECCC984B521AE5C13261B0510AAC33CF" />
    <add key="EncryptionKey" value="89AAB829D5A74AF1A1450894F3C3C1A8" />
    <add key="Sender" value="EKTANT" />
    <add key="ApiKey" value="Testing" />
    <add key="Version" value="1" />
    <add key="TxnRefNo" value="TEST-160816111226" />
    <add key="Amount" value="1" />
    <add key="PassCode" value="CFSI5212" />
    <add key="BankId" value="000004" />
    <add key="TerminalId" value="11002713" />
    <add key="MerchantId" value="120000000002713" />
    <add key="MCC" value="8398" />
    <add key="Currency" value="356" />
    <add key="TxnType" value="pay" />
    <add key="PayOpt" value="dc" />
    <add key="OrderInfo" value="6075000000000023" />
    <!--<add key="RedirectUrl" value="https://www.ektatrust.org.in/Kotak_PG_.NET_KIT/PaymentResponse.aspx"/>-->
    <add key="RedirectUrl" value="http://localhost:49790/PaymentResponse.aspx" />
    <add key="Url" value="https://sandbox.isgpay.com:8443/ISGPay/request.action" />
    <add key="ProductionURL" value="https://isgpay.com/ISGPay/request.action" />
    <!--End of Yes bank payment key-->
	<!-- Paytm Payment configrations -->



	  <!--<add key="ProdMID" value="EktaTr14024233237669" />
	  <add key="MID" value="EktaTr14024233237669" />
	  <add key="MerchantKey" value="xn6_67KvsvQS_Hf7" />
	  <add key="WebsiteName" value="DEFAULT" />
	  <add key="CallBackURL" value="http://localhost:44321/PaytmCallBack.aspx" />
	  <add key="PaytmProductionURL" value="https://secure.paytmpayments.com/theia/api/v1/initiateTransaction" />	 
	  <add key="PaytmJsURL" value="https://secure.paytmpayments.com/merchantpgpui/checkoutjs/merchants/" />
	  <add key="PaytmStatusApiURL" value="https://secure.paytmpayments.com/v3/order/status" />
	  <add key="Environment" value="Prod" />-->

	  <add key="ProdMID" value="toWGsT12153086913273" />
	  <add key="MID" value="toWGsT12153086913273" />
	  <add key="MerchantKey" value="u9F5QuMIm&amp;5FPpd5" />
	  <add key="WebsiteName" value="WEBSTAGING" />
	  <!--<add key="CallBackURL" value="https://hypocritically-vaporish-muoi.ngrok-free.dev/PaytmCallBack.aspx" />-->
	  <add key="CallBackURL" value="http://localhost:44321/PaytmCallBack.aspx" />
	  <add key="PaytmStageURL" value="https://securestage.paytmpayments.com/theia/api/v1/initiateTransaction" />
	  <add key="PaytmProductionURL" value="https://secure.paytmpayments.com/theia/api/v1/initiateTransaction" />
	  <add key="PaytmJsURL" value="https://securestage.paytmpayments.com/merchantpgpui/checkoutjs/merchants/" />
	  <add key="PaytmStatusApiURL" value="https://securestage.paytmpayments.com/v3/order/status" />
	  <!--End of Paytm Payment configrations-->
	  <add key="Environment" value="Dev" />
	  
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <customErrors mode="Off" />
    <sessionState timeout="30" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="200840000" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<httpRuntime maxRequestLength="1048576" />-->
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://ektatrust.org.in/" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <directoryBrowse enabled="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!-- Specific settings for registration page -->
  <location path="RegistrationCreativeCompetition.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>

  <!-- Specific settings for update page -->
  <location path="UpdateUserCreativeCompetition.aspx">
    <system.web>
      <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    </system.web>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>